footer {
  background-color: rgb(26,25,26);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer i {
  color: white;
  margin: auto;
  font-size: 1.5rem;
}

.social-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0px 8px;
  background-color: inherit;
}

footer form input {
  background-color: inherit;
  color: white;
  font-family: brandonGrotesque;
  font-size: 1.2rem;
  width: 15rem;
  border-style: none;
  border-bottom: solid 2px white;
}

footer form input::placeholder {
  color: white;
  opacity: 0.8;
}

footer form input:focus {
  outline: none;
}

footer form button {
  background-color: white;
  border-style: none;
  font-family: brandonGrotesque;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.5px 35px;
  text-transform: uppercase;
}

footer form button:hover, .social-button:hover, footer form button:focus, .social-button:focus {
  box-shadow: 0 0 8px gray;
}

@media only screen and (max-width: 992px) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    height: 20vh;
  }

  footer form {
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: 576px) {
  footer {
    height: 30vh;
  }

  footer form {
    display: flex;
    flex-direction: column;
  }

  footer form input {
    font-size: 1.2rem;
    width: 14rem;
  }

  footer form button {
    font-size: 1.2rem;
    margin: auto;
    margin-top: 10px;
    padding: 1.5px 20px;
    text-align: center;
  }
}