header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 100;
}

header .logo {
  height: 100%;
}

header .logo img {
  height: 100%;
}

header button {
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  font-family: brandonGrotesque;
  font-weight: 700;
  font-size: 1.4rem;
}

header button:hover, header button:focus {
text-decoration: underline;
}

header nav {
  height: 100%;
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-right: -1rem;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  header nav {
    visibility: hidden;
    position: absolute;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: 15vh;
  }
  header .logo {
    height: 80%;
  }
}