header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

header img {
  height: 100%;
}

header button {
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  font-family: brandonGrotesque;
  font-weight: 700;
  font-size: 1.4rem;
  height: 1.6rem; /* slightly larger than text so that :focus outline wraps around nicely */
}

header nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-right: -1rem;
}